extends layout

block content

  .d-flex.justify-content-between.align-items-center.mb-4

    div

      h1.mb-1
        | Dashboard

      p.text-muted.mb-0
        | Bienvenido #{user.username}

    a.btn.btn-primary(
      href="/posts/create"
    )
      | Nueva publicación

  if posts.length === 0

    .alert.alert-secondary.text-center

      h4
        | Todavía no tenés publicaciones

  else

    .row

      each post in posts

        .col-md-6.col-lg-4.mb-4

          .card.h-100.shadow-sm.border-0.feed-card

            img.feed-image(
              src=post.image
            )

            .card-body.d-flex.flex-column

              h5.card-title= post.title

              p.card-text= post.description

              .div.mt-3
                a.btn.btn-warning.me-2(
                  href=`/posts/edit/${post.id}`
                )
                  | Editar

                form(
                  action=`/posts/delete/${post.id}`
                  method="POST"
                  style="display:inline;"
                  )
                  button.btn.btn-danger(
                  type="submit"
                  )
                  | Eliminar

              .mt-auto

                p.text-muted.small
                  | Publicación ##{post.id}