extends layout


block content

  h1.mb-4 Feed de publicaciones
  
  if posts.length === 0

    .alert.alert-warning.text-center

      h4.mb-2
        | No se encontraron publicaciones

      p.mb-0
        | Probá con otra búsqueda

  each post in posts

    .card.feed-card.mb-4.shadow-sm

      .card-body

        h2.card-title= post.title

        p.card-text= post.description

        p.text-muted
         if post.User
           | Autor: 
           a(
              href=`/users/${post.User.id}`
           )
              = post.User.username
         else
           | Usuario desconocido  

          
        - const isFollowing = follows.some(follow => follow.followingId === post.User.id)

        if currentUser && post.User && post.User.id !== currentUser.id

          if isFollowing

            form(
              action=`/unfollow/${post.User.id}`
              method="POST"
              class="mb-3"
            )

              button.btn.btn-secondary(
                type="submit"
              )
                | Siguiendo

          else

            form(
              action=`/follow/${post.User.id}`
              method="POST"
              class="mb-3"
            )

              button.btn.btn-primary(
                type="submit"
              )
                | Seguir

        - let average = 0

        if post.Ratings.length > 0

          - let total = 0

          each rating in post.Ratings
            - total += rating.value

          - average = (total / post.Ratings.length).toFixed(1)

        - const roundedAverage = Math.round(average)

        p.fw-bold.mb-2

          | Valoración: 

          each star in [1,2,3,4,5]

            if star <= roundedAverage

              span.text-warning ⭐

            else

              span.text-secondary ☆

          |  (#{average})

        p.mb-0
          | 💬 #{post.Comments.length} comentarios

        p.mb-0
          | 🗳️ #{post.Ratings.length} valoraciones

        - const isFavorite = favorites.some(favorite => favorite.PostId === post.id)

        form(
          action=`/favorites/${post.id}`
          method="POST"
        )

          button.btn.btn-outline-dark(type="submit")

            if isFavorite

              i.bi.bi-bookmark-fill

            else

              i.bi.bi-bookmark

            |  Guardar  

        .image-container.mt-3.mb-3

          .image-background(
            style=`background-image: url('${post.image}')`
          )

          img.feed-image.rounded(
            src=post.image
          )

        h3 Comentarios

        each comment in post.Comments

          p
            strong #{comment.User.username}:
            |  #{comment.content}

        form(
          action=`/comments/create/${post.id}`
          method="POST"
          class="mt-3"
        )

          textarea.form-control.mb-2(
            name="content"
            placeholder="Escribí un comentario"
            rows="3"
          )

          button.btn.btn-success(type="submit")
            | Comentar

        br

        form(
          action=`/ratings/create/${post.id}`
          method="POST"
          class="mt-2"
        )

          select.form-select.mb-2(name="value")

            option(value="1") 1 estrella
            option(value="2") 2 estrellas
            option(value="3") 3 estrellas
            option(value="4") 4 estrellas
            option(value="5") 5 estrellas

          button.btn.btn-warning(type="submit")
            | Valorar