doctype html
html
  head
    title Feed

  body

    h1 Feed de publicaciones

    each post in posts

      hr

      h2= post.title

      p= post.description

      p Autor: #{post.User.username}

      img(
        src=`/uploads/${post.image}`
        width="300"
      )

      h3 Comentarios

      each comment in post.Comments

        p
          strong #{comment.User.username}:
          |  #{comment.content}

      form(
        action=`/comments/create/${post.id}`
        method="POST"
      )

        textarea(
          name="content"
          placeholder="Escribí un comentario"
        )

        br

        button(type="submit")
          | Comenta

  

