doctype html
html
  head
    title Feed

  body

    include navbar 

    h1 Feed de publicaciones

    each post in posts

      hr

      h2= post.title

      p= post.description

      p Autor: #{post.User.username}

      if post.User.id !== currentUser.id

        form(
          action=`/follow/${post.User.id}`
          method="POST"
          )
          button(type="submit")
          | Seguir
      
      - let average = 0

      if post.Ratings.length > 0

        - let total = 0

        each rating in post.Ratings
          - total += rating.value

        - average = (total / post.Ratings.length).toFixed(1)

      p Valoración promedio: #{average} ⭐

      img(
        src=post.image
        width="300"
      )

      h3 Comentarios

      each comment in post.Comments

        p
          strong #{comment.User.username}:
          |  #{comment.content}

      form(
        action=`/comments/create/${post.id}`
        method="POST"
      )

        textarea(
          name="content"
          placeholder="Escribí un comentario"
        )

        br

        button(type="submit")
          | Comentar

      br

      form(
        action=`/ratings/create/${post.id}`
        method="POST"
      )

        select(name="value")

          option(value="1") 1 estrella
          option(value="2") 2 estrellas
          option(value="3") 3 estrellas
          option(value="4") 4 estrellas
          option(value="5") 5 estrellas

        button(type="submit")
          | Valorar

