extends layout

block content

  .row.justify-content-center

    .col-md-6.col-lg-4

      .card.shadow-sm.border-0

        .card-body.p-4

          h1.text-center.mb-4
            | Iniciar sesión

          form(
            action="/login"
            method="POST"
          )

            .mb-3

              label.form-label
                | Email

              input.form-control(
                type="email"
                name="email"
                required
              )

            .mb-3

              label.form-label
                | Contraseña

              input.form-control(
                type="password"
                name="password"
                required
              )

            button.btn.btn-dark.w-100(
              type="submit"
            )
              | Ingresar

          p.text-center.mt-3

            a(href="/register")
              | Crear cuenta