nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow-sm

  .container

    a.navbar-brand(href="/")
      | Fotaza

    button.navbar-toggler(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    )

      span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarNav

      ul.navbar-nav.ms-auto

        li.nav-item
          a.nav-link(href="/")
            | Feed

        li.nav-item
          a.nav-link(href="/dashboard")
            | Dashboard

        li.nav-item
          a.nav-link(href="/posts/create")
            | Crear publicación
        
        form.d-flex.me-3(
          action="/search"
          method="GET"
        )

          input.form-control.me-2(
            type="search"
            name="q"
            placeholder="Buscar publicaciones"
          )

          button.btn.btn-outline-light(
            type="submit"
          )
            | Buscar
        
        li.nav-item
          a.nav-link.text-danger(href="/logout")
            | Logout
        
        li.nav-item

          a.nav-link(
            href="/favorites"
          )
            | Favoritos 
        
        button#theme-toggle.btn.btn-outline-light.ms-3

          i.bi.bi-moon-fill       
        
        li.nav-item

          a.nav-link(
            href="/notifications"
          )

            i.bi.bi-bell-fill

            |  Notificaciones